<article class="article>" itemscope itemprop="blogPost">
  <form id="new_article">
    <header class="article-header">
      <h5>Title:</h5>
      <input type="text" class="form-control" placeholder="Title" name="title">
      <h5>Tags:</h5>
      <input type="text" class="form-control" placeholder="Tags" name="tags">
    </header>

    <div class="article-inner">
      <div class="article-entry" itemprop="articleBody">
        <h4>Short:</h4>
        <textarea class="form-control" name="body_short" style="height: 25vh"></textarea>
        <h4>Full:</h4>
        <textarea class="form-control" name="body" style="height: 50vh"></textarea>
      </div>
    </div>
    <footer class="article-footer">
      <button class="btn btn-default" type="submit" style="float: right">Save</button>
    </footer>
  </form>
</article>
